[submodule "EIS/eis_data_analytics_dev"]
	path = EIS/eis_data_analytics_dev
	url = https://git.rwth-aachen.de/alexander.bloemeke/eis_data_analytics_dev.git
	branch = main
[submodule "ahjo-dl"]
	path = ahjo-dl
	url = https://git.isea.rwth-aachen.de/ESS/ahjo/ahjo-dl.git
[submodule "ttconverter"]
	path = ttconverter
	url = https://git.isea.rwth-aachen.de/ESS/ahjo/ttconverter.git
[submodule "safion-inspectrum"]
	path = safion-inspectrum
	url = https://git.isea.rwth-aachen.de/ESS/testing/instrument_control_software/safion-inspectrum.git
	branch = J7045
